.gambar-responsif {
    max-width: 100%;
    height: auto;
}

.section-text {
    padding: 20px;
}

.title {
    margin-top: 20px;
    font-size: 24px;
}

blockquote {
    margin-top: 20px;
    font-style: italic;
}
