.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
}

.card {
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.2s;
    height: 100%; /* Ensure the card takes full height */
    justify-content: space-between; /* Ensure the card content is evenly distributed */
}

.card-image {
    flex: 0 0 200px; /* Fixed height for images */
    overflow: hidden; /* Hide overflowed parts of the image */
}

.card-image img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensures image covers the container without distortion */
}

.card-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 15px;
    flex-grow: 1; /* Make content take available space */
}

.card-title {
    font-size: 1.25em;
    margin-bottom: 10px;
}

.card-description {
    flex-grow: 1; /* Make description take available space */
    margin-bottom: 10px;
}

.label {
    align-self: flex-end; /* Align label to the bottom */
}

.card:hover {
    transform: scale(1.05);
}

.artikel-thumbnail {
    width: 100%; /* Menyesuaikan gambar dengan lebar kontainer */
    max-width: 600px; /* Maksimum lebar gambar */
    height: auto; /* Menjaga rasio aspek gambar */
    display: block;
    margin: 0 auto; /* Pusatkan gambar */
}

.social-icons {
     margin-top: 15px;
}
.instagram-link {
    color: #E1306C;
    font-size: 24px;
    margin-right: 10px;
}
.instagram-link:hover {
    color: #bc2a8d;
}

.login-page {
    background-color: rgb(255, 255, 255); /* Ubah nilai alpha (0.8) sesuai dengan kebutuhan transparansi */
}
