{% extends 'halaman/base.html' %}
{% load static %}

{% block content %}
<div class="page-header header-filter header-small" data-parallax="true" style="background-image: url('{% static 'halaman/assets/img/about1.jpg' %}');">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <h1 class="title">ABOUT US</h1>
                <h4>Kenali saya di balik proyek ini dan cari tahu lebih banyak tentang cara saya bekerja.</h4>
            </div>
        </div>
    </div>
</div>

<div class="main main-raised">
    <div class="container">
        <div class="about-description text-center" style="margin-top: 50px;">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <div class="border-box">
                        <h3 class="description">Selamat datang di Dinopedia, situs web terbaik untuk semua yang ingin tahu tentang dinosaurus. Kami menyajikan informasi lengkap dan terkini tentang berbagai jenis dinosaurus yang pernah menghuni bumi. Dari yang terbesar hingga yang terkecil, dari pemakan tumbuhan hingga pemangsa ganas, semuanya ada di sini. Temukan fakta-fakta menarik, lihat gambar-gambar keren, dan ikuti perjalanan kami dalam mengungkap misteri dinosaurus.</h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="about-team team-1">
            <div class="row" style="background-color: #d5c6b5;">
                <div class="col-md-8 col-md-offset-2 text-center">
                    <h2 class="title">VISI DAN MISI</h2>
                </div>
            </div>

            <div class="row">
                <div class="col-md-4 col-md-offset-2 text-center">
                    <div class="card card-plain border-box">
                        <div class="card-content">
                            <h4 class="card-title">VISI</h4>
                            <p class="card-description">Menjadi sumber terpercaya dan terlengkap bagi para penggemar dinosaurus di seluruh dunia, memberikan pengalaman belajar yang menyenangkan dan informatif.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 text-center">
                    <div class="card card-plain border-box">
                        <div class="card-content">
                            <h4 class="card-title">MISI</h4>
                            <ul class="list-unstyled">
                                <li>1. Menyediakan informasi yang akurat dan terkini tentang berbagai jenis dinosaurus.</li>
                                <li>2. Menginspirasi dan mendidik melalui konten interaktif dan menarik.</li>
                                <li>3. Membangun komunitas penggemar dinosaurus yang aktif dan berdedikasi.</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-8 col-md-offset-2 text-center">
                    <div class="card card-profile card-plain">
                        <div class="card-avatar d-flex align-items-center justify-content-center mb-4">
                            <a href="#pablo">
                                <img class="img-fluid rounded-circle" style="width: 150px; height: 150px;" src="{% static 'halaman/assets/img/faces/indh.jpg' %}" />
                            </a>
                        </div>

                        <div class="card-content text-center">
                            <h4 class="card-title">Indah Pariana</h4>
                            <h6 class="category text-muted">Mahasiswi/ S1-Teknik Informatika</h6>

                            <p class="card-description">
                                Saya merupakan mahasiswi semester 4 Teknik Informatika di Universitas Muhammadiyah Kalimantan Timur.
                            </p>
                            <div class="footer">
                                <a href="https://www.facebook.com/" class="btn btn-just-icon btn-simple btn-facebook"><i class="fa fa-facebook-square"></i></a>
                                <a href="https://www.instagram.com/_indhprn?igsh=cHl0emJ0YWJ2ZXA1" class="btn btn-just-icon btn-simple btn-google"><i class="fa fa-instagram"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-8 col-md-offset-2 text-center">
                    <h3 class="title">Galeri Foto</h3>
                    <div class="row">
                        <div class="col-md-3">
                            <div class="card">
                                <img src="{% static 'halaman/assets/img/dino1.jpg' %}" class="img-fluid" alt="Photo 1" style="height: 200px width: 600px; object-fit: cover;">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="card">
                                <img src="{% static 'halaman/assets/img/dino2.jpg' %}" class="img-fluid" alt="Photo 2" style="height: 400px width: 600px; object-fit: cover;">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="card">
                                <img src="{% static 'halaman/assets/img/dino3.jpg' %}" class="img-fluid" alt="Photo 3" style="height: 400px width: 600px; object-fit: cover;">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="card">
                                <img src="{% static 'halaman/assets/img/dino4.jpg' %}" class="img-fluid" alt="Photo 4" style="height: 400px width: 600px; object-fit: cover;">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</div>

{% endblock content %}
