{% load static %}

<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <link rel="apple-touch-icon" sizes="76x76" href="{% static 'halaman/assets/img/apple-icon.png' %}">
    <link rel="icon" type="image/png" href="{% static 'halaman/assets/img/favicon.png' %}">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

    <title>Login beritaku</title>

    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />

    <!-- Fonts and icons -->
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" />

    <!-- CSS Files -->
    <link href="{% static 'halaman/assets/css/bootstrap.min.css' %}" rel="stylesheet" />
    <link href="{% static 'halaman/assets/css/material-kit.css' %}?v=1.3.0" rel="stylesheet"/>

    <style>
        body {
            background: url('{% static "halaman/assets/img/SILAHKANLOGIN.jpg" %}') no-repeat center center fixed;
            background-size: cover;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
            font-family: 'Roboto', sans-serif;
        }
        .container {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
        }
        .card-container {
            display: flex;
            background: rgba(56, 221, 246, 0.723);
            border-radius: 10px;
            padding: 20px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        }
        .card-signup {
            margin: 0 10px;
            padding: 20px;
            background: #00dceb;
            border-radius: 10px;
            width: 300px;
        }
        .card-signup .header {
            background: transparent;
            padding-bottom: 10px;
        }
        .btn-primary {
            background-color: #007bff;
            border-color: #007bff;
        }
        .btn-primary:hover {
            background-color: #0056b3;
            border-color: #004085;
        }
        .text-danger {
            color: #ffffff !important;
        }
        .form-control {
            border: 1px solid #ccc;
            border-radius: 4px;
            padding: 10px;
            width: 100%;
        }
        .input-group {
            margin-bottom: 15px;
        }
    </style>
</head>

<body>
    <div class="container">
        <div class="card-container">
            <div class="card card-signup">
                <form class="form" method="POST">
                    {% csrf_token %}
                    <div class="header header-primary text-center">
                        <h4 class="card-title">Log in</h4>
                    </div>
                    <p class="description text-center text-danger">{{ pesan }}</p>
                    <div class="card-content">
                        <div class="input-group">
                            <span class="input-group-addon">
                                <i class="material-icons">face</i>
                            </span>
                            <input name="username" type="text" class="form-control" placeholder="Username..." required>
                        </div>
                        <div class="input-group">
                            <span class="input-group-addon">
                                <i class="material-icons">lock_outline</i>
                            </span>
                            <input name="password" type="password" placeholder="Password..." class="form-control" required />
                        </div>
                    </div>
                    <div class="footer text-center">
                        <button type="submit" class="btn btn-primary">Login</button>
                    </div>
                    <div class="text-center" style="margin: 20px;">
                        <a class="text-danger" href="{% url 'akun_registrasi' %}">Klik Jika Ingin Registrasi ?</a>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- Core JS Files -->
    <script src="{% static 'halaman/assets/js/jquery.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'halaman/assets/js/bootstrap.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'halaman/assets/js/material.min.js' %}"></script>

    <!-- Plugin for Date Time Picker and Full Calendar Plugin -->
    <script src="{% static 'halaman/assets/js/moment.min.js' %}"></script>

    <!-- Plugin for the Sliders, full documentation here: http://refreshless.com/nouislider/ -->
    <script src="{% static 'halaman/assets/js/nouislider.min.js' %}" type="text/javascript"></script>

    <!-- Plugin for the Datepicker, full documentation here: https://github.com/Eonasdan/bootstrap-datetimepicker -->
    <script src="{% static 'halaman/assets/js/bootstrap-datetimepicker.js' %}" type="text/javascript"></script>

    <!-- Plugin for Select, full documentation here: http://silviomoreto.github.io/bootstrap-select -->
    <script src="{% static 'halaman/assets/js/bootstrap-selectpicker.js' %}" type="text/javascript"></script>

    <!-- Plugin for Tags, full documentation here: http://xoxco.com/projects/code/tagsinput/ -->
    <script src="{% static 'halaman/assets/js/bootstrap-tagsinput.js' %}"></script>

    <!-- Plugin for Fileupload, full documentation here: http://www.jasny.net/bootstrap/javascript/#fileinput -->
    <script src="{% static 'halaman/assets/js/jasny-bootstrap.min.js' %}"></script>

    <!-- Plugin For Google Maps -->
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=YOUR_KEY_HERE"></script>

    <!-- Control Center for Material Kit: activating the ripples, parallax effects, scripts from the example pages etc -->
    <script src="{% static 'halaman/assets/js/material-kit.js' %}?v=1.3.0" type="text/javascript"></script>
</body>
</html>
