{% load static %}

<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <link rel="apple-touch-icon" sizes="76x76" href="{% static 'halaman/assets/img/apple-icon.png' %}">
    <link rel="icon" type="image/png" href="{% static 'halaman/assets/img/favicon.png' %}">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

    <title>Halaman Registrasi</title>

    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />

    <!--     Fonts and icons     -->
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" />

    <!-- CSS Files -->
    <link href="{% static 'halaman/assets/css/bootstrap.min.css' %}" rel="stylesheet" />
    <link href="{% static 'halaman/assets/css/material-kit.css' %}?v=1.3.0" rel="stylesheet"/>
    
    <style>
        .register-page {
            background: url('{% static "halaman/assets/img/background.jpg" %}') no-repeat center center fixed;
            background-size: cover;
        }
        .card-signup {
            padding: 20px;
            border-radius: 8px;
            box-shadow: 0 16px 24px 2px rgba(0,0,0,0.14), 0 6px 30px 5px rgba(0,0,0,0.12), 0 8px 10px -5px rgba(0,0,0,0.2);
        }
        .card-signup .header {
            background: linear-gradient(60deg, #26c6da, #00acc1);
            color: #fff;
            padding: 20px;
            margin: -20px 20px 0;
            border-radius: 8px 8px 0 0;
        }
    </style>
</head>

<body class="register-page">
    <nav class="navbar navbar-primary navbar-transparent navbar-absolute">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation-example">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">Material Kit PRO</a>
            </div>

            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="{% url 'akun_login' %}" class="btn btn-white btn-simple">
                            <i class="material-icons">dns</i> Login
                        </a>
                    </li>
                    <li>
                        <a href="/">
                            <i class="material-icons">apps</i> Kembali
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="page-header header-filter" style="background-image: url('{% static "halaman/assets/img/SILAHKANREG.jpg" %}'); background-size: cover; background-position: top center;">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
                    <div class="card card-signup">
                        <form class="form" method="POST">
                            {% csrf_token %}
                            <div class="header header-primary text-center">
                                <h4 class="card-title">Registrasi</h4>
                            </div>
                            <p class="description text-center">{{ pesan }}</p>
                            <div class="card-content">
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <i class="material-icons">face</i>
                                    </span>
                                    <input type="text" name="username" class="form-control" placeholder="Username" required>
                                </div>
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <i class="material-icons">face</i>
                                    </span>
                                    <input type="text" name="nama_depan" class="form-control" placeholder="Nama Depan" required>
                                </div>
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <i class="material-icons">face</i>
                                    </span>
                                    <input type="text" name="nama_belakang" class="form-control" placeholder="Nama Belakang" required>
                                </div>
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <i class="material-icons">email</i>
                                    </span>
                                    <input type="text" name="email" class="form-control" placeholder="Email" required>
                                </div>
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <i class="material-icons">lock_outline</i>
                                    </span>
                                    <input type="password" name="password1" class="form-control" placeholder="Password 1" required/>
                                </div>
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <i class="material-icons">lock_outline</i>
                                    </span>
                                    <input type="password" name="password2" class="form-control" placeholder="Ulangi Password" required/>
                                </div>
                            </div>
                            <div class="footer text-center">
                                <button type="submit" class="btn btn-success">Submit</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--   Core JS Files   -->
    <script src="{% static 'halaman/assets/js/jquery.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'halaman/assets/js/bootstrap.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'halaman/assets/js/material.min.js' %}"></script>

    <!--    Plugin for Date Time Picker and Full Calendar Plugin   -->
    <script src="{% static 'halaman/assets/js/moment.min.js' %}"></script>

    <!--    Plugin for the Sliders, full documentation here: http://refreshless.com/nouislider/   -->
    <script src="{% static 'halaman/assets/js/nouislider.min.js' %}" type="text/javascript"></script>

    <!--    Plugin for the Datepicker, full documentation here: https://github.com/Eonasdan/bootstrap-datetimepicker   -->
    <script src="{% static 'halaman/assets/js/bootstrap-datetimepicker.js' %}" type="text/javascript"></script>

    <!--    Plugin for Select, full documentation here: http://silviomoreto.github.io/bootstrap-select   -->
    <script src="{% static 'halaman/assets/js/bootstrap-selectpicker.js' %}" type="text/javascript"></script>

    <!--    Plugin for Tags, full documentation here: http://xoxco.com/projects/code/tagsinput/   -->
    <script src="{% static 'halaman/assets/js/bootstrap-tagsinput.js' %}"></script>

    <!--    Plugin for Fileupload, full documentation here: http://www.jasny.net/bootstrap/javascript/#fileinput   -->
    <script src="{% static 'halaman/assets/js/jasny-bootstrap.min.js' %}"></script>

    <!--    Control Center for Material Kit: activating the ripples, parallax effects, scripts from the example pages etc    -->
    <script src="{% static 'halaman/assets/js/material-kit.js' %}?v=1.3.0" type="text/javascript"></script>
</body>
</html>
