{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Biodata Diri</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <style>
        body {
            font-family: 'Times New Roman', Times, serif, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #96a8c1;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }
        h1 {
            text-align: center;
            padding-top: 20px;
        }
        hr {
            border: none;
            height: 2px;
            background-image: linear-gradient(to right, #333, #8fddf9, #333); /* warna garis */
            margin: 20px 0; /* jarak di atas dan bawah garis */
            width: 80%; /* panjang garis */
        }
        .content {
            display: flex;
            justify-content: flex-start;
            width: 80%;
            margin-top: 20px;
        }
        table {
            margin-right: 20px;
            border-collapse: collapse;
            width: 80%;
            background-color: white;
            box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
        }
        th, td {
            padding: 12px 15px;
            text-align: left;
            border-bottom: 1px solid #927e7e;
        }
        th {
            background-color: #a1d0fb;
        }
        tr:hover {
            background-color: #f1f1f1;
        }
        ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            text-align: center;
        }
        ul li {
            display: inline-block;
            margin-right: 20px;
        }
        a {
            text-decoration: none;
            color: black;
        }
        .social-icons {
            margin-top: 40px;
        }
        .social-icons a {
            color: #333;
            margin-right: 20px;
            font-size: 48px;
        }
    </style>
</head>
<body>
    <h1>BIODATA DIRI</h1>
    <hr>
    <div class="content">
        <table>
            <tr>
                <th>DATA PRIBADI</th>
            </tr>
            <tr>
                <th>Informasi</th>
                <th>Data</th>
            </tr>
            <tr>
                <td>Nama</td>
                <td>Indah Pariana</td>
            </tr>
            <tr>
                <td>NIM</td>
                <td>2211102441164</td>
            </tr>
            <tr>
                <td>Umur</td>
                <td>19 tahun</td>
            </tr>
            <tr>
                <td>Alamat</td>
                <td>Jl. Pemuda Separi Tenggarong Seberang</td>
            </tr>
            <tr>
                <td>Pendidikan</td>
                <td>S1 Teknik Informatika</td>
            </tr>
            <tr>
                <td>Hobi</td>
                <td>Futsal, sepak Bola, Taekwondo</td>
            </tr>
        </table>
        <img src="{%static 'admin/img/akuaja.jpg' %}"  alt="Foto Profil" style="width: 190px;">
    </div>
    <div class="content">
        <table>
            <tr>
                <th>PENDIDIKAN</th>
            </tr>
            <tr>
                <td>SD</td>
                <td>SDN 004 Tenggatong seberang</td>
                <td>2015/2016</td>
            </tr>
            <tr>
                <td>SMP</td>
                <td>SMPN 4 Tenggarong Seberang</td>
                <td>2018/2019</td>
            </tr>
            <tr>
                <td>SMA</td>
                <td>SMAN 2 Tenggarong seberang</td>
                <td>2019/2022</td>
            </tr>
            <tr>
                <td>S1</td>
                <td>Universitas Muhammidayah Kalimantan Timur</td>
                <td>2025/2026</td>
            </tr>
        </table>
        <table>
            <tr>
                <th>PENGALAMAN KERJA</th>
            </tr>
            <tr>
                <td>Posisi</td>
                <td>Deskripsi</td>
                <td>Tahun</td>
            </tr>
            <tr>
                <td>Programmer</td>
                <td>PT. ABC Teknologi</td>
                <td>2022-2023</td>
            </tr>
            <tr>
                <td>Analyst</td>
                <td>PT. XYZ Solutions</td>
                <td>2024-2025</td>
            </tr>
        </table>
    </div>
    <div class="content">
            <table>
                <tr>
                    <th>KEMAMPUAN</th>
                </tr>
                <tr>
                    <td>HTML/CSS</td>
                    <td>4/5</td>
                </tr>
                <tr>
                    <td>JavaScript</td>
                    <td>3/5</td>
                </tr>
                <tr>
                    <td>Python</td>
                    <td>4/5</td>
                </tr>
            </table>
            <table>
                <tr>
                    <th>PRESTASI</th>
                </tr>
                <tr>
                    <td>Juara 1 Lomba Programming</td>
                    <td>2019</td>
                </tr>
                <tr>
                    <td>Juara 2 Lomba Web Design</td>
                    <td>2021</td>
                </tr>
            </table>
        </div>
    </div>
    
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
    </ul>
    <div class="social-icons">
        <a href="#"><i class="fab fa-instagram"></i></a>
        <a href="#"><i class="fab fa-facebook"></i></a>
        <a href="#"><i class="fab fa-whatsapp"></i></a>
    </div>
</body>
</html>