<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portofolio Saya</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>

<!-- Navigation Bar -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="#">Portofolio Saya</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'home' %}">Beranda</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'about' %}">Tentang</a>
                </li>
                <!-- Add more navigation links as needed -->
            </ul>
        </div>
    </div>
</nav>

<!-- Hero Section -->
<section class="hero-section">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <h1>Selamat Datang di Portofolio Saya</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla posuere augue a arcu feugiat, id feugiat risus suscipit. Nullam euismod massa nec ligula sodales, nec vulputate velit vestibulum.</p>
                <a href="#about" class="btn btn-primary">Pelajari Lebih Lanjut</a>
            </div>
            <div class="col-lg-6">
                <img src="{% static 'akuaja.jpg' %}" class="img-fluid" alt="Hero Image">
            </div>
        </div>
    </div>
</section>

<!-- About Section -->
<section id="about" class="about-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <img src="{% static 'akuaja.jpg' %}" class="img-fluid" alt="About Image">
            </div>
            <div class="col-lg-6">
                <h2>Tentang Saya</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla posuere augue a arcu feugiat, id feugiat risus suscipit. Nullam euismod massa nec ligula sodales, nec vulputate velit vestibulum.</p>
                <a href="#contact" class="btn btn-primary">Hubungi Saya</a>
            </div>
        </div>
    </div>
</section>

<!-- Contact Section -->
<section id="contact" class="contact-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 offset-lg-3">
                <h2>Hubungi Saya</h2>
                <form action="#" method="post">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Nama Anda">
                    </div>
                    <div class="form-group">
                        <input type="email" class="form-control" placeholder="Email Anda">
                    </div>
                    <div class="form-group">
                        <textarea class="form-control" rows="5" placeholder="Pesan Anda"></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary btn-block">Kirim Pesan</button>
                </form>
            </div>
        </div>
    </div>
</section>

<!-- Footer -->
<footer class="footer">
    <div class="container text-center">
        <p>&copy; 2024 Portofolio Saya. All Rights Reserved.</p>
    </div>
</footer>

<!-- jQuery -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<!-- Bootstrap JS -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
