<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title> <!--variable welcome diambil dari context pada views home-->
</head>
<body>
    <h1>{{titleh}}</h1>
    <h2>
        <ul>
            <li>
                <a href="/">home</a>
            </li>
            <li>
                <a href="/about">about</a>
            </li>
        </ul>
    </h2>
</body>
</html>
